<form action="/generate" method="post">
  <div class="input-group">
    <label for="text">Size Nasıl Yardımcı Olabilirim? Aşağıya Yazınız:</label>
    <textarea id="text" name="text" required aria-label="Yapay zekaya sorunuz" placeholder="Bir soru sorun veya bir metin girin..."></textarea>
  </div>
  
  <button type="submit" class="btn">I'KNOW Cevabı Göster</button>
</form>
